body {
    background-color: black;
}

.snowflake{
    width: 8px;
    height: 8px;
    border-radius: 50%; /* make it as circle */
    background-color: white;
    position: absolute;
    top: -8px;

}

@keyframes fall {
    from{        
    }
    to{
        transform: translateY(80vh);
        opacity: 0;   /*opacity == 불투명도*/     
    }
}